<app-header></app-header>
<section class="container-body">
	<div class="div-item">
		<section class="div-item-container">
			<header class="">
				<h4 class="">{{'header.right_dropdown.infos' | translate}}</h4>
			</header>
			<section class="">
				<app-recap-infos></app-recap-infos>
			</section>
		</section>
	</div>
	<div class="div-item">
		<section class="div-item-container">
			<header class="">
				<h4 class="">{{'header.right_dropdown.reserv' | translate}}</h4>
			</header>
			<section class="">
				<app-tab-reservations></app-tab-reservations>
			</section>
		</section>
	</div>
	<div class="div-item">
		<section class="div-item-container">
			<header class="">
				<h4 class="">{{'header.right_dropdown.photos' | translate}}</h4>
			</header>
			<section class="">
				<app-tab-photos></app-tab-photos>
			</section>
		</section>
	</div>
</section>
<app-footer></app-footer>