<app-header></app-header>
<section class="container-body">
	<div class="div-item">
		<section class="div-item-container">
			<header class="">
				<h4 class="">Mes informations</h4>
			</header>
			<article class="">
				<ul class="">
					<li class=""><a href="" class=""></a></li>
					<li class=""><a href="" class=""></a></li>
					<li class=""><a href="" class=""></a></li>
				</ul>
			</article>
		</section>
	</div>
	<div class="div-item">
		<section class="div-item-container">
			<header class="">
				<h4 class="">Mes activités</h4>
			</header>
			<article class="">
				<ul class="">
					<li class=""><a href="" class=""></a></li>
					<li class=""><a href="" class=""></a></li>
					<li class=""><a href="" class=""></a></li>
				</ul>
			</article>
		</section>
	</div>
	<div class="div-item">
		<section class="div-item-container">
			<header class="">
				<h4 class="">Mes photos</h4>
			</header>
			<article class="">
				<ul class="">
					<li class=""><a href="" class=""></a></li>
					<li class=""><a href="" class=""></a></li>
					<li class=""><a href="" class=""></a></li>
				</ul>
			</article>
		</section>
	</div>
</section>
<app-footer></app-footer>