<section class="groupe">
	<h2 class="">Mes groupes</h2>
	<!-- <div class="row">
			<label for="search_groupe">Rechercher un ami : </label>
			<input id="search_groupe" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>

	</div> -->
	<ul class="allgroups row" *ngIf="allgroups.length>0">
		<li class="col-md-3" *ngFor="let groupe of allgroups">
			<span>{{groupe?.nom}}</span>
		</li>
	</ul>
	<p class="" *ngIf="allgroups.length === 0">Pas de groupe<p>
	<form action="" class="" (ngSubmit)="createGroup()" [formGroup]="groupform"  novalidate>

		<input class="" formControlName="nom" >
		<div class="input-group">	
			<input type="submit" id="" name="" value="{{ 'details.comment.valid' | translate}}" [disabled]="groupform.invalid">
		</div>
	</form>
	
</section>