<app-header></app-header>
<section class="container-body admin">
<app-admin-menu></app-admin-menu>


<div class="container">
  <h2>Note</h2>
  <section class="client_note">
    <article>
      <div>
        <h3>Note : </h3>
        <span class=""><ngb-rating [(rate)]="rating.note"></ngb-rating></span>
      </div>
      <div>
        <h3>Date : </h3>
       <span class="">{{date_note[0]}}</span>
      </div>
      <div>
        <h3>Activité : </h3>
        <span class="">{{act_note[0]?.libelle}}</span>
      </div>
      <div>
      <div>
        <h3>Client : </h3>
        <span class="">{{user_info_note[0]?.prenom}} {{user_info_note[0]?.nom}}</span>
      </div>
       
      </div>
    </article>
  </section>
</div>
</section>

<app-footer></app-footer>
