<app-header></app-header>
<section class="container-body">
		<h3 class="title">{{myActivity.libelle }}</h3>
		<section class="activite">
			<section class="left_activite">
				<article class="">
					<img src="http://54.36.190.213:4200/assets/img/{{myActivity?.photo }}" >
					
					<section class="descriptif">
						<p class="" [innerHTML]="myActivity.description"></p>
					</section>
					<section class="conditions">
						<h3 class="">{{ 'details.conditions.title' | translate}} </h3>
						<p class="" [innerHTML]="myActivity.condition">
							
						</p>
					</section>
					<section class="notation" *ngIf="isLoggedIn;">
						<h3 class="">{{ 'details.note_act.title' | translate}}</h3>
						<form action="" class="">
							<section class="stars_notation">
								<app-rating></app-rating>
							</section>
						</form>
					</section>
					<h3 class="">{{ 'details.photos.title' | translate}}</h3>
					<section class="share_photos">
						<section class="galerie_photo">
							<app-slider-activite-photo></app-slider-activite-photo>
						</section>
						<div class="photos" *ngIf="isLoggedIn && isComment">
							<form [formGroup]="cform" (ngSubmit)="onSubmitp()">
							  <div class="form-group">
							    <label for="photo">Photo</label>
							    <input type="file" id="photo" (change)="onFileChange($event)" #fileInput>
							    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Effacer</button>
							  </div>
							  <button type="submit" [disabled]="cform.invalid || loading" class="btn btn-success">Envoyer <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
							</form>
						</div>
					</section>

					

					

					<section class="commentaires_container" >
						<section class="commentaires">
							<app-comments></app-comments>
						</section>
						<h3 class="">{{ 'details.comment.title' | translate}}</h3>
						<h5 class="ajout_comm" *ngIf="isLoggedIn && isComment">{{ 'details.comment.add' | translate}}</h5>
						<form action="" class="" (ngSubmit)="createComment()" [formGroup]="commentform" *ngIf="isLoggedIn && isComment; elsecreateComment" novalidate>

							<textarea name="" id="" cols="30" rows="10" class="" formControlName="commentTexte"></textarea>
							<div class="input-group">	
								<input type="submit" id="valid_comment" name="valid_comment" value="{{ 'details.comment.valid' | translate}}" [disabled]="commentform.invalid">
							</div>
							<div class="" *ngIf="commentform.invalid && ( commentform.dirty || commentform.touched)">		
								<p>{{ 'forms.form_invalid' | translate}}</p>
							</div>
						</form>
						<div class="mess" #elsecreateComment>
							{{err}}
						</div>

					</section>
				</article>
			</section>
			<section class="right_activite">
				<section class="gmap-act">
					<app-gmap-activite></app-gmap-activite>
				</section>
				<form action="" class="" (ngSubmit)="onSubmit()" [formGroup]="myform" novalidate>
					<label for="date_resa">{{ 'details.reserv.title' | translate}} </label>
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon7">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<app-datepicker [group]="myform.controls.date" ></app-datepicker>
					</div>
					<label for="" *ngIf="nb_pers_cond">Nombre de personnes </label>
					<div class="input-group" *ngIf="nb_pers_cond">
						
						<input type="number" min="{{nb_pers_min}}" max="{{nb_pers_max}}" formControlName="nb_pers" (click)="changing()" [(ngModel)]="nb_pers">
						
					</div>
					<div class="erreurs" *ngIf=" myform.controls.nb_pers.dirty || myform.controls.nb_pers.touched">	
							<div class="" *ngIf="nb_pers>nb_pers_max">{{ 'forms.nb_pers.max' | translate}} {{nb_pers_max}}</div>
							<div class="" *ngIf="nb_pers<nb_pers_min">{{ 'forms.nb_pers.min' | translate}} {{nb_pers_min}}</div>

					</div>
					<label for=""></label>
					 <div class="input-group" *ngIf="nb_pers_cond">	
						 <app-timepicker [group]="myform.controls.heure_in" (myHeure)="getHeure($event)"></app-timepicker> 
					</div>
					<section class="prix">
						<p class="">
							
							<span>{{ 'details.reserv.prix_title' | translate}}  {{leprix}} {{currency}} </span>
							<span *ngIf="myActivity.remise !== null && myActivity.remise !== 'undefined' && myActivity.remise !== '0' && myActivity.remise !== myActivity.remise"> {{ 'details.reserv.promo' | translate}} <span>{{myActivity.prix}} {{currency}}</span></span>
						</p>
					</section>
					<input type="submit" id="insc_resa" name="insc_resa" value="{{ 'details.reserv.valid' | translate}}" [disabled]="nb_pers<nb_pers_min || nb_pers>nb_pers_max">
				</form>
			</section>
		</section>
	</section>
	<app-footer></app-footer>