<footer class="footer">
		<section class="top_footer">
			<ul class="">
				<li class=""><a (click)="onClick('cgv')">{{'footer.cgv' | translate}}</a></li>
				<li class=""><a (click)="onClick('cgu')">{{'footer.cgu' | translate}}</a></li>
				<li class=""><a (click)="onClick('mentions-legales')">{{'footer.mentions' | translate}}</a></li>
				<!-- <li class=""><a href=""></a></li>
				<li class=""><a href=""></a></li>
				<li class=""><a href=""></a></li>
				<li class=""><a href=""></a></li> -->
			</ul>
		</section>
		<section class="bottom_footer">
			<ul class="">
				<li class=""><span class="">FuriousDucks 2017</span></li>
			</ul>
		</section>
	</footer>