  <table class="table table-condensed" *ngIf="rsv?.length>0">
    <thead>
      <tr>
      	<!-- <th>Date</th> -->
        <!-- <th>N° de Réservation</th> -->
        <th>{{'panier.entete.item1' | translate}}</th>
        <th>{{'panier.entete.item2' | translate}}</th>
        <th>{{'panier.entete.item3' | translate}}</th>
        <th *ngIf=" display === true"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i = index ; let res of rsv;" >
    
        <td>				
        	<a *ngIf="act[i]" [routerLink]="['/activite/', act[i]?._id]">
				{{act[i]?.libelle}}
			</a>
			<a *ngIf="!act[i]" >
				{{act[i]?.libelle}}
			</a>
		</td>
        <td *ngIf="locale === 'fr'">{{res?.date_rsv | date:'dd MMMM yyyy':'':locale }}</td>
        <td *ngIf="locale !== 'fr'">{{res?.date_rsv | date:'MMMM, dd yyyy':'':locale }}</td>
        <td>{{act[i]?.prix}} {{currency}}</td>
        <td *ngIf=" display === true"><a (click)="onSubmit()"><i class="fa fa-times"></i></a></td>


      </tr>  
      <tr>
      	<td></td>
      	<td>{{'panier.total' | translate}} </td>
      	<td>{{total}} {{currency}}</td>
      	<td *ngIf=" display === true"></td>
      </tr>
    </tbody>
  </table>
   <p *ngIf="rsv?.length==0">{{'panier.no_rsv' | translate}}</p>
  <app-backlink *ngIf=" display === true"></app-backlink>
  <a *ngIf="rsv?.length>0 && display === true " [routerLink]="['/loginOrder']">{{'panier.button' | translate}}</a>