<div class="row">
	<div ngbDropdown placement="bottom-right" class="d-inline-block">
	  <button class="" id="dropdownBasic1" ngbDropdownToggle>
	  	<i class="fa fa-user"></i>
		<span  *ngIf="userConnected">{{userConnected?.prenom}}</span>
		<span  *ngIf="!userConnected">{{ 'header.right_dropdown.connect_title' | translate}}</span>
	  </button>
	  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
		<button class="dropdown-item" (click)="onClick('mon-compte')">{{ 'header.right_dropdown.compte' | translate}}</button>
		<button class="dropdown-item" (click)="onClick('mes-reservations')">{{ 'header.right_dropdown.reserv' | translate}}</button>
		<button class="dropdown-item">{{ 'header.right_dropdown.photos' | translate}}</button> 
		<button class="dropdown-item" *ngIf="userConnected"  (click)="logout()">{{ 'header.right_dropdown.deconnect' | translate}}</button>
		<button class="dropdown-item" *ngIf="!userConnected" (click)="onClick('login')">{{ 'header.right_dropdown.connect' | translate}}</button>

	  </div>
	</div>
</div>
