<app-header></app-header>
<section class="container-body admin">
<app-admin-menu></app-admin-menu>


<div class="container">
  <h2>Réservation</h2>
  <section class="client_rsv">
    <article>
      <div>
        <h3>N° de réservation : </h3>
        <span class="">{{reservations[0]?._id}}</span>
      </div>
      <div>
        <h3>Date : </h3>
       <span class="">{{date_rsv[0]}}</span>
      </div>
      <div>
        <h3>Activité : </h3>
        <span class="">{{act_rsv[0]?.libelle}}</span>
      </div>
      <div>
      <div>
        <h3>Client : </h3>
        <span class="">{{user_info_rsv[0]?.prenom}} {{user_info_rsv[0]?.nom}}</span>
      </div>
       
      </div>
    </article>
  </section>
</div>
</section>

<app-footer></app-footer>
