<app-header></app-header>
<section class="container-body admin">
<app-admin-menu></app-admin-menu>


<div class="container">
  <h2>Réservation</h2>
  <section class="client_rsv">
    <article>
      <div>
        <h3>N° de réservation : </h3>
        <span class="">{{reservations?._id}}</span>
      </div>
      <div>
        <h3>Date : </h3>
       <span class="">{{date_rsv[0]}}</span>
      </div>
      <div>
        <h3>Activité : </h3>
        <span class="">{{act_rsv?.libelle}}</span>
      </div>
      <div>
      <div>
        <h3>Client : </h3>
        <span class="">{{user_info_rsv?.prenom}} {{user_info_rsv?.nom}}</span>
      </div>
      <div>
        <h3>statut : </h3>
        <span class="">{{statut}}</span>
      </div>
      <div>
         Modifier le statut
        <select name="" id="" [(ngModel)]="stat">
          <option value="{{stat}}" *ngFor="let i = index ;let stat of statuts">{{stat}}</option>
        </select>
        <input type="submit" value="Modifier" (click)="changeStatut()">
      </div>
       
      </div>
    </article>
  </section>
</div>
</section>

<app-footer></app-footer>
