
<ul class="nav nav-pills nav-stacked admin-menu">
	<li><a routerLink="/admin/home" class="">Accueil</a></li>
 	<li><a routerLink="/admin/activites" class="">Activités</a></li>
 	<li><a routerLink="/admin/reservations" class="">Réservations</a></li>
 	<li><a routerLink="/admin/commentaires" class="">Commentaires</a></li>
 	<li><a routerLink="/admin/clients" class="">Clients</a></li>
 	<li><a routerLink="/admin/notes" class="">Notes</a></li>
 	<li><a routerLink="/admin/promotions" class="">Promotions</a></li>


 </ul>


