<ul class="nav nav-pills nav-stacked admin-menu">
<!-- 	<li><a routerLink="/admin/home" class="">Accueil</a></li>
 --> 	<li><a routerLink="/admin/activites" class=""  (click)="onClick()">Activités</a></li>
 	<li><a routerLink="/admin/reservations" class=""  (click)="onClick()">Réservations</a></li>
 	<li><a routerLink="/admin/commentaires" class=""  (click)="onClick()">Commentaires</a></li>
 	<li><a routerLink="/admin/clients" class=""  (click)="onClick()">Clients</a></li>
 	<li><a routerLink="/admin/notes" class=""  (click)="onClick()">Notes</a></li>
 	<li><a routerLink="/admin/promotions" class="" (click)="onClick()">Promotions</a></li>


 </ul>


