<app-header></app-header>
<section class="container-body">
		<section class="left_login">
			<h3 class="">{{ 'login.creer_compte_title' | translate}}</h3>
			<form action="" class="">
				<label for="nom">{{ 'login.nom' | translate}}  </label>
				<div class="input-group">
					<input type="text" id="nom" name="nom" class="form-control" aria-describedby="sizing-addon1" required>
				</div>
				<label for="prenom">{{ 'login.prenom' | translate}} </label>
				<div class="input-group">
					<input type="text" id="prenom" name="prenom" class="form-control" aria-describedby="sizing-addon2" required>
				</div>
				<label for="mail">{{ 'login.mail' | translate}} </label>
				<div class="input-group">
					<input type="email" id="mail" name="mail" class="form-control" aria-describedby="sizing-addon3" required>
				</div>
				<label for="new_mdp">{{ 'login.mdp' | translate}} </label>
				<div class="input-group">
					<input  type="password" id="new_mdp" name="new_mdp" class="form-control" aria-describedby="sizing-addon4" required>
				</div>
				<label for="confirm_mdp"> {{ 'login.confirm_mdp' | translate}} </label>
				<div class="input-group">
					<input type="password" id="confirm_mdp" name="confirm_mdp" class="form-control" aria-describedby="sizing-addon5" required>
				</div>
				<label for=""></label>
				<div class="input-group">	
					<input type="submit" id="create_account" name="create_account" value="{{ 'login.creer_compte_button' | translate}}">
				</div>
			</form>
		</section>
		<section class="right_login">
			<section class="connexion">
				<h3 class="">{{ 'login.connect_title' | translate}}</h3>
				<!-- <form class="" (submit)="loginUser($event)" > -->
    			<form name="form" (ngSubmit)="login()" [formGroup]="form" novalidate >

					<label for="adrs_email">{{ 'login.mail' | translate}}  </label>
					<div class="input-group">
						<input type="text" id="adrs_email" name="email" class="form-control" aria-describedby="sizing-addon-cmail" formControlName="email" required>
					</div>
					<label for="cmdp">{{ 'login.mdp' | translate}}  </label>
					<div class="input-group">
						<input type="password" id="cmdp" name="password" class="form-control" aria-describedby="sizing-addon-cmdp" required formControlName="password">
					</div>
					<label for=""></label>
					<div class="input-group">		
						<input type="submit" id="connect" name="connect" value="{{ 'login.connect_button' | translate}}">
					</div>
				</form>
			</section>
			<section class="mdp_oublie">
				<h3 class="">{{ 'login.mdp_oublie_title' | translate}}</h3>
				<!-- <form [formGroup]="complexForm" action="" class="" #form="ngForm"  novalidate> -->
				<form  action="" class=""  novalidate>
				
 				 	<label for="lost_mail">{{ 'login.mail' | translate}} </label>
					<div class="input-group">
						<input type="password" id="lost_mail" name="lost_mail" class="form-control" aria-describedby="sizing-addon6"  ngModel required #lost_mail="ngModel" appFormValidate>
					</div>
					  <!-- <app-form-errors [control]="lost_mail"></app-form-errors> -->
					<label for=""></label>
					<div class="input-group">	
						<input type="submit" id="lost_mdp" name="lost_mdp" value="{{ 'login.mdp_oublie_button' | translate}}">
					</div> 
				</form>
			</section>
		
		</section>
		
		
	</section>
<app-footer></app-footer>